@font-face {
    font-family: NorseBold;
    src: url("./assets/fonts/Norse-Bold.otf") format("opentype");
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

/* begin section: sidebar */
#sidebar {
    height: 100vh;
    background-image: url("./assets/nicefile.avif");
    position: relative;
    flex: 1 1 auto;
    min-width: 500px;
    
}

.black-strip {

    background-color: rgba(32, 40, 38,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 240px;
}

.black-strip > img{
    padding: 12px;
    height: 6rem;
}

.black-strip > p {
    margin: 0; /* Reset default margin */
    font-size: 6rem;
    font-family: NorseBold;
    color: white;
}


/* begin section: main */
main{
    margin-left: 30px;
}

main > .leading-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
}

main * {
    font-size: 1.175rem;
}