/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

@font-face {
    font-family: NorseBold;
    src: url("./assets/fonts/Norse-Bold.otf");
  }
em {
    font-style: italic;
}

* {
    font-family: sans-serif;
}

body {
    background-color: #edede7;
    display: flex;
}

.sidebar {
    width: 30vw;
    height: 100vh;
    background-image: url("./assets/nicefile.avif");
}

.black-line {
    width: 30vw;
    padding: 10px 0;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: hsla(0, 100%, 0%,0.3);
    display: flex;
}

.black-line > img {
    height: 180px;
}

.black-line > p {
    font-family: NorseBold;
    font-size: 6rem;
}

.form-section {
    flex: 3;
    background-color: #edede7;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 150px;
    margin-left: 45px;
}

header {
    line-height: 1.5rem;
    width: clamp(45ch, 50%, 75ch);
    font-weight: 650;
    font-size: 1.175rem;
}

main {
    background-color: #edede7;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
    margin: 100px 0 0 -45px;
    background-color: whitesmoke;
    /* make form stick to sidebar */
    
    padding-left: 45px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

main > form > p{
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.175rem;
}

.form-row {
    margin-top: 10px;
    display: flex;
    gap: 54px;
}

.input-and-label > label {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.775rem;
    letter-spacing: 2px;
    margin-top: 10px;
    text-transform: uppercase;
}

input {
    width: 200px;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    box-sizing: border-box;

    padding: 7px;
    margin-top: 3px;
    border-radius: 5px;
    outline: none;
}

/* CSS Button from Tailwind, ignore */
.button-40 {
    background-color: #596D48;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
.button-40:hover {
    background-color: #3e542a;
}
  
.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
/* end custom tailwinds button */
button {
    margin-top: 50px;
}

main > form > .form-row > .input-and-label {
    display: flex;
    flex-direction: column;
}

input {
    transition: 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

input:focus {
    outline: 1px solid blue;
    transition: 200ms;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input:invalid {
    outline: 1px solid red;
    transition: 200ms;
    border: 0.1px solid red;
}

input:valid {
    transition: 200ms;
    outline: 1px solid green;
    border: 0.1px solid green;
}

input:placeholder-shown {
    outline: 0.2px solid grey;
    border: 0.1px solid transparent;
}

input.pw-no-match {
    outline: 0.2px solid red;
    border: 0.1px solid red;
}

.input-and-label span {
    margin-top: 10px;
    opacity: 0;
    color: red;
}

.input-and-label span.span-pw-no-match {
    transition: 200ms;
    opacity: 1;
    visibility: visible;
}

footer {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: green; 
    font-weight: bolder;
}

